@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  display: flex;
  overflow: hidden;
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}
