@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% { transform: translateX(5px); }
  25% { transform: translateY(5px); }
  50% { transform: translateX(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateX(5px); }
}

.animation-shake {
  animation: shake 0.6s ease-in-out infinite;
}


/* Add these to your global CSS file or Tailwind's custom classes */
html.dark {
  background-color: #1a202c; /* Dark background for dark mode */
  color: #e2e8f0; /* Light text color for dark mode */
}

.bg-gray-800 {
  background-color: #2d3748; /* Darker gray for navbar in dark mode */
}

.text-gray-300 {
  color: #e2e8f0; /* Light text color in dark mode */
}

.bg-gray-900 {
  background-color: #1a202c; /* Darker gray for sidebar in dark mode */
}

.text-gray-100 {
  color: #f7fafc; /* Light color for hover effect in dark mode */
}

.bg-gray-200 {
  background-color: #edf2f7; /* Light gray background for light mode */
}

.text-gray-800 {
  color: #2d3748; /* Dark text color for light mode */
}

/* styles.css */
.navbar-transition {
  transition: top 0.3s ease-in-out;
}

.navbar-hidden {
  top: -60px; /* Adjust based on your navbar height */
}
